Argon Gas/.idea/
LateX/ArgonReport/Report_Computational_Physics_01_Dirksen_Wesdorp.log
LateX/ArgonReport/Report_Computational_Physics_01_Dirksen_Wesdorp.synctex.gz
LateX/ArgonReport/Report_Computational_Physics_01_Dirksen_Wesdorp.aux
*.out
ExtraPaperHeatCapacity.pdf
