Argon Gas/.idea/
LateX/Report_Computational_Physics_01_Dirksen_Wesdorp.aux
LateX/Report_Computational_Physics_01_Dirksen_Wesdorp.out
LateX/Report_Computational_Physics_01_Dirksen_Wesdorp.synctex.gz
LateX/ArgonReport/Report_Computational_Physics_01_Dirksen_Wesdorp.log
LateX/ArgonReport/Report_Computational_Physics_01_Dirksen_Wesdorp.pdf
LateX/ArgonReport/Report_Computational_Physics_01_Dirksen_Wesdorp.synctex.gz
