Argon Gas/.idea/
*.log
*.synctex.gz
*.aux
*.out
ExtraPaperHeatCapacity.pdf
Quantum Variational MonteCarlo Simulation/Code/.ipynb_checkpoints/
LateX/HydrogenReport/Report_Computational_Physics_02_Dirkse_Wesdorp.pdf
Quantum Variational MonteCarlo Simulation/.ipynb_checkpoints/
